* {
    border: none;
    border-radius: 8px;
    font-family: MesloLGS NF;
    font-size: 14.5px;
    font-style: normal;
    min-height: 0;
    color: #FFFFFF;
}

window#waybar {
    background: transparent;
}

#workspaces,
#clock,
#network,
#pulseaudio,
#battery,
#custom-date,
#custom-randwall,
#custom-launcher,
#custom-machines,
#custom-archivos,
#tray,
#backlight,
#cpu,
#memory,
#disk,
#custom-hyprpicker,
#custom-playerctl,
#custom-playerlabel {
    background: #282828;
    border-radius: 0.75rem;
    padding: 5px 10px;
    margin: 5px;
    color: #FFFFFF;
}

#workspaces button {
    padding: 0px 10px;
    border-radius: 8px;
    color: #7aa2f7;
}

#workspaces button.active {
    color: #f8f8f2;
    background-color: #282828;
}

#workspaces button:hover {
    background-color: #404040;
    color: #FFFFFF;
}

#clock,
#network,
#pulseaudio,
#battery,
#custom-launcher,
#custom-machines,
#custom-archivos {
    padding: 5px 15px;
    margin-right: 10px;
    color: #FFFFFF;
}

#custom-date {
    color: #D3869B;
}

#custom-power {
    color: #24283b;
    background-color: #db4b4b;
    padding: 5px 10px;
    margin: 5px 10px 5px 0;
}

#custom-playerctl,
#custom-playerlabel {
    background: #2e2e2e;
    padding: 5px 10px;
    margin: 5px;
    color: #FFFFFF;
    font-size: 14.5px;
}

#custom-playerctl {
    font-size: 18px;
    padding-left: 15px;
    padding-right: 8px;
}

#custom-playerlabel {
    padding-left: 10px;
    padding-right: 15px;
}

#tray {
    background: #282828;
    padding: 0px 10px;
    margin: 5px;
}

#backlight {
    background-color: #282828;
    color: #db4b4b;
    padding: 5px 10px;
    margin: 5px;
}

#pulseaudio.muted {
    color: #FF0000;
}

#custom-launcher button:hover {
    background-color: #404040;
    color: #FFFFFF;
    border-radius: 8px;
    margin: 5px 10px;
}

#window {
    background: #282828;
    padding: 15px;
    margin: 5px;
}

#custom-wf-recorder {
    padding: 5px 20px;
    color: #e5809e;
    background-color: #2e2e2e;
}

#cpu,
#memory,
#disk,
#custom-hyprpicker {
    font-weight: bold;
}

